# Add your preferred git settings here. This will overwrite anything in `core/configs/.gitconfig`.

[alias]
  s = status
  d = diff
  c = checkout
  a = add .
  cb = checkout -b
  fo = fetch origin
  bd = branch -D
  c-- = checkout -- .
  ra = rebase --abort
  rc = rebase --continue
  acm = !git add -A && git commit -m
  pocb = push origin HEAD
  comb = !git fo && git checkout origin/main -b
  romi = !git fo && git rebase origin/main -i
